body {
    text-align: center;
}

.searchBox {
    display: inline-block;
    border: 2px black solid;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    transition: all 0.5s ease;
}

.searchBox.preSearch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.searchBox.postSearch {
    position: relative;
}



.searchBox:hover, .searchBox.expandedSearchBox {
    width: 40%;
}

.searchBox:hover #searchInput, #searchInput:focus, #searchInput.postSearch {
    opacity: 1;
}

.searchBox:hover .searchButton, #searchInput:focus ~ .searchButton, .searchButton.postSearch {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

/* NO LONGER NEEDED (3/17/2016)
#searchInput:not(:focus) ~ .clearInput, .clearInput.hidden {
    opacity: 0;
    right: -2px;
    z-index: -1;
}*/

.searchButton, .clearInput {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

.searchButton {
    font-size: 30px;
    right: -2px;
    top: -2px;
    padding-top: 10px;
    padding-left: 4px;
    /* Alternative positioning attributes
    line-height: 60px;
    padding-top: 1px;
    padding-left: 4px;
    */
    color: black;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#searchInput:not(:valid) ~ .searchButton {
    color: cadetblue;
    pointer-events: none;
}

.clearInput {
    background-color: transparent;
    border: none;
    right: -62px;
    top: -2px;
    font-size: 28px;
    line-height: 60px;
}

#searchInput:not(:valid) ~ .clearInput {
    opacity: 0;
    right: 2px;
    z-index: -1;
}

#searchInput {
    padding-right: 50px;
    border-radius: 30px;
    height: 56px;
    width: 100%;
    opacity: 0;
    font-size: 18px;
    transition: all 0.5s ease;
}

.resultsContainer {
    display: inline-block;
    width: 80%;
    min-height: 25px;
    //background-color: aqua;
}

.searchBox, .resultsContainer {
    margin-top: 3%;
}

@media screen and (max-width: 560px) {
  .searchBox:hover, .searchBox.expandedSearchBox {
    width: 60%;
  }
  
  #searchInput {
    font-size: 15px;
  }
}