body {
    text-align: center;
}

.searchBox {
    display: inline-block;
    border: 2px black solid;
    border-radius: 30px;
    height: 60px;
    width: 60px;
    transition: all 0.5s ease;
}

.searchBox.preSearch {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.searchBox.postSearch {
    position: relative;
}

.searchBox:hover, .searchBox.expanded {
    width: 40%;
}

.searchBox:hover #searchInput, #searchInput:focus, #searchInput.postSearch {
    opacity: 1;
}

.searchBox:hover .searchButton, #searchInput:focus ~ .searchButton, .searchButton.postSearch {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
}

.searchButton, .clearInput {
    position: absolute;
    width: 60px;
    height: 60px;
    transition: all 0.2s ease;
}

.searchButton {
    font-size: 30px;
    right: -2px;
    top: -2px;
    padding-top: 10px;
    padding-left: 4px;
    color: black;
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
    transform: rotate(90deg);
}

#searchInput:invalid ~ .searchButton {
    pointer-events: none;
}

#searchInput:focus:invalid ~ .searchButton {
    color: #a6a6a6;
    pointer-events: none;
}

.clearInput {
    background-color: transparent;
    border: none;
    right: -62px;
    top: -2px;
    font-size: 28px;
    line-height: 60px;
}

#searchInput:invalid ~ .clearInput, .searchBox:not(.expanded) .clearInput {
    opacity: 0;
    right: -2px;
    z-index: -1;
}

#searchInput {
    padding-right: 50px;
    border-radius: 30px;
    height: 56px;
    width: 100%;
    opacity: 0;
    font-size: 18px;
    transition: all 0.5s ease;
}

.results {
    display: inline-block;
    width: 80%;
    height: 60%;
    overflow: scroll;
    text-align: left;
}

.searchBox, .results {
    margin-top: 3%;
}

#randomSearch {
    display: none;
    margin-top: 5px;
    text-decoration: underline;
}

.searchBox.expanded #randomSearch {
    display: block;
}

@media screen and (max-width: 560px) {
  .searchBox:hover, .searchBox.expanded {
    width: 60%;
  }
  
  #searchInput {
    font-size: 15px;
  }
}